.formGroup {
  margin-bottom: 15px;
}

.formGroupInline {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.labelInline {
  display: inline-block;
  margin-right: 15px;
}

.checkbox {
  margin: 0;
}
